.notification {
  .notice {
    background-color: lightblue;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: rgb(209, 91, 62);
    color: white;
    text-align: center;
  }
}